.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 48px;
  margin-bottom: 62px;
}

.logo {
  width: 150px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-list a {
  text-decoration: none;
  color: black;
}

.title-container {
  height: 265px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("./assets/title_img.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: white;
}

h1 {
  size: 72px;
  text-align: center;
  font-weight: 700;
}

.subtitle {
  size: 24px;
  color: white;
  text-align: center;
  font-weight: 700;
}

.body-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: 100px auto;
}

.img-container {
  border-radius: 12px;
  width: 515px;
  height: 408px;
  overflow: hidden;
}

.thumbnail {
  border-radius: 12px;
  width: 100%;
  height: 90%;
  object-fit: cover; /* mantém proporção e corta o excesso */
  object-position: center; /* opcional: define o foco do corte */
}

h3 {
  margin-top: 8px;
}

.footer {
  background-color: #f9f7fe;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand-logos {
  display: flex;
  gap: 30px;
}

.footer-copyrights {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

@media (max-width: 768px) {
  .nav-container {
    margin-bottom: 48px;
  }

  .logo {
    width: 100px;
  }
  .title-container {
    background-position: 0%;
    width: 100%;
    height: 200px;
  }

  .body-container {
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
  }

  .img-container {
    width: 350px;
    height: 285px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 18px;
  }
}

/* About CSS */
.self-container {
  width: 960px;
  height: 405px;
  display: flex;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
}

.self-picture {
  width: 460px;
  border-radius: 12px;
}

.author-name {
  font-size: 64px;
  font-weight: 700;
}

.favorites-title {
  font-size: 36px;
  text-align: center;
  margin-top: 100px;
}

.follow-me {
  display: flex;
  align-items: center;
  gap: 20px;
}

.recipes-main-container {
  display: flex;
  margin: 40px auto;
  gap: 40px;
  height: 550px;
}

.recipes-container {
  width: 350px;
  height: 350px;
  text-align: center;
  margin: 0 auto;
}

.fav-image {
  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.fav-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container {
    width: 350px;
  }

  .recipes-main-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .recipes-container {
    height: auto;
  }

  .fav-image {
    width: 250px;
    height: 250px;
  }

  .self-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .self-picture {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .author-name {
    font-size: 36px;
  }
}
