.page-container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.info-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.profile-container {
  width: 450px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

.profile-container img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.contact-items {
  font-size: 18px;
  font-weight: 700;
  color: #662eed;
  margin-bottom: 10px;
}

.icons-infos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.infos {
  margin-bottom: 30px;
}
.address-container {
  width: 50%;
}

@media (max-width: 768px) {
  .page-container {
    width: 80%;
  }

  .profile-container img {
    width: 90%;
    height: 90%;
  }

  .info-container {
    flex-direction: column;
  }

  .address-container {
    margin-top: 50px;
    width: 100%;
  }
}
